.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  flex: 1;
  background-image: url("./assets/Background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  flex: 1;
  display: flex;
  align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .contentShare {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 10px 0px;
  
}
.fp-text{
  text-transform: uppercase;

  font-size: 12px;
  color: #59636E;
  font-weight: 700;
  margin-bottom: 2px;
  line-height: 16.34px;
  padding: 0px;
}
 .feedback-period {
   padding: 10px 12px;
   width: 342px;
   height: 48px;
   font-size: 16px;
   font-weight: 400;
   border: 1px solid #D9DCDE;
   border-radius: 3px;
 }
.share-text{
  font-size: 31px;
  color: var(--offBlack);
  font-weight: 600;
}


 .share {
  display: flex;
  width: 780px;
  height: 472px;
  background: #59636E;
  margin: auto 0;
}

.login-panel {
  background-color: white;
  height: 522px;
  width: 371px;
  border-radius: 4px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  overflow: auto; 
}

.login-form{
  text-align: center;
  padding-top: 18px;
}
.login-title{
    font-size: 28px;
    font-weight: 600;
    line-height: 38.13px;
    letter-spacing: 0.15px;
    color: var(--offBlack);
    padding-bottom: 20px;
}

.login-content{
  padding-top: 60px;
  margin-top: 38px 0px;
  
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    margin-top: 10px;
 
}

.form-group input {
  padding: 12px 10px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
  max-width: 350px;
}


.form-group p {
  align-self: start;

  margin-left: 15%;
  font-size: 16px;
  font-weight: 600;
}
.submit-btn {
  display: block;
  width: 70%;
  max-width: 350px;
  padding: 14px 20px;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;

  &:hover {
    background-color: #cc57c0;
  }
}


header nav{
  height: 75px;
  padding: 0px 50px;
  background-color: #F2F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25); */

}

.echo-text{
  color: var(--offBlack);
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
}

.tabs{
  display: flex;
  justify-content: space-around;
  align-self: self-end;
}

.tabs li{
  color: var(--offBlack);
  font-size: 16px;
  font-weight: 600;
  margin: 0 20px;
  list-style: none;
  cursor: pointer;
  
}

.tabs li.active {
  padding-bottom: 24px;
  border-bottom: 3px solid #cc57c0;
}

.divider {
  border-left: 1px solid #000;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.profile-section{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  line-height: 75px !important;
  border-left: 1px solid #D9DCDE;
  padding-left: 15px;
}

.avatar-box img {
  border-radius: 50%;
  width: 58px;
  height: 58px;
  object-fit: cover;
}

.logout-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.logout-box p{
  font-weight: 700;
  font-size: 12px;
  color: #59636E;
  cursor: pointer;
}

.logout-box p:hover{
  color: #cc57c0;
  transition: ease-in-out;
  transition-duration: 150;
}
.profile-name{
  margin-bottom: 0.2em;
  color: var(--offBlack);
  font-size: 16px;
  font-weight: 400;

}

.notification-badge {
  position: relative;
  display: inline-block;
}

.notification-badge::after {
  content: attr(data-count);
  position: absolute;
  top: -20px;
  right: -16px;
  background: var(--primaryColor);
  color: white;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  height: 16px;
  width: 16px;
  text-align: center;
  /* border: 1px solid white; */
}